/* ------ Specification ------ */
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: #171e26;
	background: url(../img/bg.jpg);
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a, a:hover, a:active {
	text-decoration: none;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}

button {
	border: none;
	outline: none;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;	
	-moz-text-shadow: 3px 3px 0 rgb(0, 33, 66);
	-webkit-text-shadow: 3px 3px 0 rgb(0, 33, 66);
	text-shadow: 3px 3px 0 rgb(0, 33, 66);
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28.8px;
	font-weight: 700;
	letter-spacing: -0.027em;
	color: #000033;
	margin-bottom: 0;
}

.fade {
	margin: 0;
	padding: 0;
}

/* ------ first_screen_start ------ */
header {
	background: #4a749c url(../img/ev.jpg) no-repeat center center / cover;
}

.lifestyle {
	padding: 240px 0 270px 0;
	text-align: center;
	color: #fff;
}

.lifestyle__text {
	text-transform: uppercase;
	-moz-text-shadow: 2px 2px 0 rgb(0, 33, 66);
	-webkit-text-shadow: 2px 2px 0 rgb(0, 33, 66);
	text-shadow: 2px 2px 0 rgb(0, 33, 66);
}

.lifestyle p {
	font-size: 20px;
}
/* ------ first_screen_finish ------ */

/* ------ introduction_screen_start ----- */
.lead-in {
	padding: 40px 0;
	font-size: 18px;
	text-align: center;
}
/* ------ introduction_screen_finish ----- */

/* ------ activity_screen_start------ */       
.offset-1  {
	margin-left: 1px;
	margin-right: 1px;  
}

.element {
	width: auto;
	position: relative;
	margin-bottom: 70px;
	text-align: center;
	line-height: 1.6em;
}

.element__img {
	max-width: 100%;
}

.element__details{	
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
	align-content: space-around;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 16px;
	background: rgba(255,255,255,0.7);
	text-align: left;
	opacity: 1;
}

.element__details:hover {
	background: rgba(255,255,255,0.8);
	cursor: pointer;
}

.element__details:active {
	background: rgba(255, 255, 255, 1);
}

.element__details_left {
	top: 30px;
	right: 0;
	border-bottom: 1px solid #003cae;
	border-left: 1px solid #003cae;
}

.element__details_right {
	top: 30px;
	left: 0;
	border-bottom: 1px solid #003cae;
	border-right: 1px solid #003cae;
}

.element__details:before {
	position: absolute;
	content: '';
	width: 70px;
	height: 5px;
	top: 57px;
	background: #ff690f;
}

.element__text {
	margin-top: 16px;
	letter-spacing: -0.025em;
}

.element__text,
.element__text:hover,
.element__text:active {
	color: #000033;
}

.element__know {
	line-height: 1.6em;
	margin-bottom: 20px;
}

.element__know-link {
	border-bottom: 1px dotted #515c61;
	font-size: 16px;
	color: #232729;
}

.element__know-link:hover {
	color: #0c0d0e;
}

.element__know-link:active {
	color: #232729;
}
/* ------ activity_screen_finish------ */

/* ------ footer_start------ */
.footer {
	padding: 15px 0;
	background: #fff;
	border-top: 1px solid #f3f7fa;
}

.contacts__icon {
	margin-right: 10px;
}

.contacts__link {
	font-size: 18px;
	color: #000033;
}

.contacts__dev-link,
.contacts__dev-web {
	font-size: 15px;
	color: #515c61;
}

.contacts__link:hover,
.contacts__dev-link:hover {
	color: #3c90ce;
}

.contacts__link:active,
.contacts__dev-link:active {
	color: #000033;
}
/* ------ footer_finish------ */

/* ------ modal_form_START ------ */
.modal-content {
	border-radius: 3px;
}

.close {
    margin-right: 6px;
	text-align: right;
	font-size: 50px;
    color: #ff5e00;
    -moz-text-shadow: 2px 2px 0 rgb(0, 33, 66);
	-webkit-text-shadow: 2px 2px 0 rgb(0, 33, 66);
    text-shadow: 2px 2px 0 rgb(0, 33, 66);
}

.close:hover {
    color: #ffae80;
}

.close:active {
    color: #ff5e00;
}

.modal-body {
    padding-top: 2px;
	font-size: 16px;
	border-radius: 3px;
}

.modal-body p,
.modal-body ul {
	margin-bottom: 20px;
}

.photo-1 .modal-content {
	background: url(../img/photo-1.jpg) no-repeat center center / cover;
}

.photo-2 .modal-content {
	background: url(../img/photo-2.jpg) no-repeat center center / cover;
}

.photo-3 .modal-content {
	background: url(../img/photo-3.jpg) no-repeat center center / cover;
}

.photo-4 .modal-content {
	background: url(../img/photo-4.jpg) no-repeat center center / cover;
}

.photo-5 .modal-content {
	background: url(../img/photo-5.jpg) no-repeat center center / cover;
}

.photo-6 .modal-content {
	background: url(../img/photo-6.jpg) no-repeat center center / cover;
}

.photo-7 .modal-content {
	background: url(../img/photo-7.jpg) no-repeat center center / cover;
}



/* ------ Media Queries ------ */

/* 320-576px */
@media screen and (max-width: 576px) {

	.lifestyle__title {
		font-size: 45px;
	}

	.lifestyle p {
		font-size: 18px;
	}

	.lead-in {
		font-size: 16px;
	}

	.element__text {
		font-size: 16px;
	}

	.element__know-link {
		font-size: 14px;
	}

	h2 {
		font-size: 25px;
	}

	.element__details:before {
		top: 50px;
	}

	.element__text {
		margin-top: 8px;
	}
	
    .contacts {	
    	display: flex;
    	flex-direction: column;
	}
	
    .contacts__web {	
    	display: flex;
    	flex-direction: column;
        order: 1;
	}
	
	.contacts__icons {
	    margin: 0 auto;
        order: 2;
    }
    
    .modal-body {
        font-size: 14px;
    }
}
